<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1">

    <!-- Execute tests that are related to Automation Demo Site: -->
    <test name="Automation Demo Site Testing">
        <classes>
            <class name="TestClasses.RegisterPageTests"/>
            <class name="TestClasses.SignInPageTests"/>
        </classes>
    </test>

    <!-- Execute tests that are related to EmptyPackage (that was created only to see how testng.xml
    (this file) works by being able to group tests): -->
    <test name="EmptyPackage Testing">
        <classes>
            <class name="EmptyPackage.TestFunctionality1"/>
            <class name="EmptyPackage.TestFunctionality2"/>
        </classes>
    </test>

    <!-- Execute the selected test classes and test methods, that are related to Automation Demo Site and
    EmptyPackage. We can see that we are able to select what test classes to include and what test methods
    from that test classes to run: -->
    <test name="Automation Demo Site Testing - EmptyPackage Testing">
        <classes>
            <class name="TestClasses.RegisterPageTests"/>
            <class name="EmptyPackage.TestFunctionality2">
                <methods>
                    <include name="Test1"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Groups">
        <groups>
            <define name = "login and regression">
                <include name="login"/>
                <include name="regression"/>
            </define>

            <run>
                <!-- <include name="login"/>
                <include name="regression"/> -->
                <include name="login and regression"/>
            </run>
        </groups>
        <classes>
            <class name="EmptyPackage.TestFunctionality2"></class>
            <class name="EmptyPackage.TestFunctionality3"></class>
        </classes>
    </test>

</suite>